# Writing a good docstring

This is an example of writing a really good docstring that follows a best practice for the given language. Attention is paid to detailing things like 
* parameter and return types (if applicable)
* any errors that might be raised or returned, depending on the language

I received the following code:

```{{language}}
{{snippet}}
```

The code with a really good docstring added is below:

```{{language}}

