# Making minimal alterations to code

This is an example of minimally altering some given code to achieve a specific task.

I received the following code:

```{{{language}}}
{{{snippet}}}
```

My task was to make minimal alterations to this code to: "{{{task}}}".

The altered code is below.

```{{{language}}}

